.feedback-form {
  border: none;
  position: relative;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px 0;
}
.feedback-form [type="checkbox"],
.feedback-form [type="radio"] {
  display:none;            
} 
input[type="checkbox"] + label, 
input[type="radio"] + label {
  cursor: pointer;
  position: relative;
}

input[type="checkbox"] + label::before { /* выкл */
  content: "";
  display: inline-block;
  vertical-align: top;
  height: 54px;
  width: 54px;
  margin: 0 25px 0 0;
  background-color: #f2f2f2;
}
input[type="checkbox"]:checked + label::after {  /* checked */
  position: absolute;
  top: 16px;
  left: 16px;
  content: "";
  height: 22px;
  width: 26px;
  margin: 0 5px 0 0;
  background: url(../img/icon-tick.svg) no-repeat;
  background-size: 100%;
}




input[type="radio"] + label::before { /* выкл */
  content: "";
  display: inline-block;
  vertical-align: top;
  height: 50px;
  width: 50px;
  margin: 0 25px 0 0;
  background-color: #f2f2f2;
  border-radius: 50%;
}
input[type="radio"]:checked + label::after { /* checked */
  position: absolute;
  top: 15px;
  left: 15px;
  content: "";
  display: inline-block;
  vertical-align: top;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 0 5px 0 0;
  background-color: black;
}




@media (min-width: 768px) {
  .feedback-form {
    box-sizing: border-box;
    padding: 0 60px;
  }
  .feedback-form:nth-of-type(1) {
    width: 50%;
    padding: 0 60px 0 50px;
    border-left: 2px solid #f2f2f2;
  } 
  .feedback-form:nth-of-type(2) {
    border-top: 2px solid #f2f2f2;
    width: 100%;
  } 
  .feedback-form:nth-of-type(3) {
    width: 50%;
    order: -1;
    padding: 0 50px 0 60px;
  }
  .feedback-form:nth-of-type(4) {
    border-top: 2px solid #f2f2f2;
  }
  .feedback-form:before {
    display: none; 
  }
}