.gallery-item {
  font-family: $font-family;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #d6d6d6;
  padding: 0 20px;
  min-height: 415px;
}
.gallery-item__link {
  display: flex;
  margin-top: 22px;
  background-color: lightgreen;
  box-sizing: border-box;
}
.gallery-item__link picture{
  width: 100%;
}
.gallery-item__footer {
  display: flex;
  flex-direction: column;
  padding: 15px 0px 20px;
}

.gallery-item__title {
  font-size: $text-font-size;
  font-weight: $title-font-weight;
  text-transform: uppercase;
  margin-top: 10px;
}
.gallery-item__author {
  font-size: $text-font-size;
  margin-top: 8px;
}
.gallery-item-likes {
  display: flex;
  margin-top: 10px;
}
.gallery-item__likes-icon {
  margin: 0;
  fill: #a9a9a9;
}
.gallery-item__likes-count {
  font-size: $text-font-size; 
  font-weight: $title-font-weight;
  margin: 3px 0 0 14px;
}

@media (min-width: 768px) {
  .gallery-item {
    width: 50%;
    border: none;
    padding: 0;
    min-height: 347px;
  }
  .gallery-item:first-of-type {
    height: 480px;
    width: 100%;
  }
  .gallery-item__link {
    margin-top: 0;
  }
  .gallery-item:first-of-type  img {
    height: 400px;
  }
  .gallery-item__link img {
    height: 267px;
  }
  .gallery-item__footer {
    min-height: 40px;
    background-color: #eaeaea;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
  }
  .gallery-item__footer--lighter {
    background-color: none;
    background-color: #f2f2f2;
  }
  .gallery-item__title {
    margin-top: 0;
  }
  .gallery-item__author {
    margin-top: 0;
  }
  .gallery-item__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .gallery-item-likes {
    margin-top: 0;
    display: flex;
    align-items: center;
    min-width: 65px;
  }
  .gallery-item__likes-icon {
    margin-left: 0;
  }
  .gallery-item__likes-count {
    margin: 0 0 0 11px;
  }
}
@media (min-width: 1200px) {
  .gallery-item {
    width: 33.3334%;
    position: relative;
    min-height: 265px;
  }
  .gallery-item:first-of-type {
    height: 397px;
  }
  .gallery-item__footer {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    padding: 0;
    color: $white;
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
  }
  .gallery-item__likes-icon {
    fill: $white;
  }
  .gallery-item__text {
    width: 50%;
  }
}