.gallery-video {
  position: relative;
  height: 200px;
}
.gallery-video__preview {
  display: flex;
  justify-content: center;
  
  
  margin-bottom: 105px; /* для футера!! */
}
.gallery-video__preview picture {
  width: 100%;
}
@media (min-width: 768px) {
  .gallery-video {
    margin: 0 60px;
    min-height: 500px;
  }
  .gallery-video__preview {
   margin-bottom: 42px; /* для футера!! */
  }
  .gallery-video__preview img {
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .gallery-video {
    margin: 0 200px;
    margin-bottom: 85px;
  }
  .gallery-video__preview {
  
    /* для футера!! */
  }
  .gallery-video__preview img {
  }
}