.page-footer {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.page-footer__tag {
  font-weight: $title-font-weight;
  font-family: $font-family;
  font-size: 21px;
  text-transform: uppercase;
  margin-top: 36px;
}

@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 35px 60px 35px;
  }
  .page-footer__tag {
    margin-top: 8px;
  }
}

@media (min-width: 1200px) {
   .page-footer {
    padding: 35px 44px 35px 135px;
  }
   .page-footer__tag {
     margin-top: 10px;
  }
}