
.promo {
  text-align: center;
  font-family: $font-family;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 40px 21px 42px;
  position: relative;
}
.promo--trangle:after {
  content:'';
  width: 100%;
  bottom: -15px;
  left: 0;
  position: absolute;
  height: 37px;
  background-image: url(../img/bg-triangle.svg);
  background-size: 100%;
}
.promo--form {
  padding: 40px 21px 36px;
}
.promo__title {
  font-size: $title-font-size;
  font-weight: $title-font-weight;
  margin: 0 10px;
  line-height: 26px;
  
}

.promo__text {
  font-size: $text-font-size; 
  margin-top: 30px;
}

.promo__text br {
  display: none; 
}

@media (min-width: 768px) {
  .promo {
    padding: 50px 135px 55px;
    margin: 0;
  }  
  .promo--photo {
    padding: 75px 170px 76px;
  }
  .promo--form { 
    padding: 75px 165px 63px;
  }
  
  .promo__title {
    font-size: $tablet-title-font-size;
  }
  .promo__title--photo {
    font-size: $desktop-title-font-size;
  }
  .promo__title--form {
    font-size: $desktop-title-font-size;
  }
  .promo__text--photo {
    margin: 35px auto 0 auto;
  }
  .promo__text--form {
    margin-top: 35px;
  }
  .promo--trangle:after {
    display: none;
  }
}

@media (min-width: 1200px) {
  .promo {
    padding: 50px 340px 55px;
  }
  .promo--photo {
    padding: 112px 380px 80px;
  }
  .promo--form { 
    padding: 112px 380px 50px;
  }
  .promo__text {
    margin-top: 31px;
  }
  .promo--photo .promo__text {
    margin-top: 34px;
  }
  .promo--form .promo__text {
    margin-top: 34px;
  }
}